footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-top: solid 1px rgb(255, 255, 255, 0.2);

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px 30px;
        align-items: center;

        .links {
            display: flex;
            justify-content: start;
            padding: 10px;
            gap: 10px;
            font-size: 1.3rem;

            ion-icon {
                cursor: pointer;
                transition: 0.3s;
                color: white;
                font-size: 2rem;

                &:hover {
                    color: gray;
                }
            }
        }

        .mail {
            grid-area: mail;
            @include centerChild;
            gap: 10px;

            a {
                color: white;
            }

            button {
                background: white;
                border: none;
                font-family: "poppins";
                padding: 5px 10px;
                border-radius: 10px;
                letter-spacing: 3px;
                cursor: pointer;
                width: 90px;
                transition: 0.2s, transform 0.1s;
            }
        }
    }
}