.container-home {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    z-index: 1;

    .cover {
        flex: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 500px;
        width: 100%;
        max-width: 700px;
        margin: 80px auto;

        .name {
            display: flex;
            justify-content: start;
            align-items: center;
        }

        h2 {
            letter-spacing: 2px;
            font-size: 50px;
            color: black;
            background: white;
            padding: 5px 20px;
            box-shadow: -25px -20px 0 0 rgb(0, 114, 221);
            border-radius: 10px;
        }

        .profile {
            p {
                font-size: 50px;
                color: rgb(0, 114, 221);
                font-weight: bold;
                letter-spacing: 3px;
                text-transform: uppercase;

                span {
                    font-family: 'Courier New', Courier, monospace;
                    position: relative;
                    transition: 0.5s;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 3px;
                        background: white;
                        right: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        animation: 1s barre linear infinite;

                        @keyframes barre {
                            50% {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }

        .links {
            display: grid;
            grid-template-columns: auto 1fr 25% 25%;
            grid-template-areas: "git cv mail mail";

            a {
                color: rgb(223, 223, 223);
                transition: 0.2s;

                &:hover {
                    color: white;
                }
            }

            .github {
                grid-area: git;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 0 10px;
                padding: 5px 20px;
                background: rgba(134, 134, 134, 0.2);
                box-shadow: 0 0 2px 0 white;
                border-radius: 30px;
                cursor: pointer;

                ion-icon {
                    font-size: 50px;
                }

                ion-icon:nth-child(2) {
                    font-size: 25px;
                    color: black;
                    background: white;
                    padding: 5px;
                    border-radius: 50%;
                }
            }

            .cv {
                grid-area: cv;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                cursor: pointer;
            }

            .mail {
                grid-area: mail;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                button {
                    color: black;
                    background: white;
                    border: none;
                    font-family: "poppins";
                    padding: 5px 10px;
                    border-radius: 10px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}