.container-achievements {
    margin: 200px 0 0;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;

    .intro {
        margin-top: 20px;
        font-size: 1.5rem;
        color: $whiteDark;
    }

    .github {
        margin: 20px 0;
    }


    .achievements {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 150px;
        margin: 100px 0;

        .achievement {
            display: grid;
            grid-template-columns: 6fr 4fr;
            gap: 30px;
            align-items: start;
            max-width: 1200px;
            margin: 0 auto;

            a {
                color: white;
                display: flex;
                flex-direction: column;
                gap: 150px;
                overflow: hidden;
                box-shadow: 0 0 5px 1px white;
                border: 10px solid rgb(19, 19, 19);
                border-radius: 30px;
                transition: 0.5s;
                transform: scale(0.5);

                &:hover .picture {
                    rotate: -5deg;
                    scale: 1.1;
                    transform: translateY(20px);
                }

                .summary {
                    display: flex;
                    padding: 40px 40px 0px;
                    align-items: start;
                    gap: 20px;
                    color: rgb(223, 223, 223);

                    p {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    ion-icon {
                        min-width: 50px;
                        max-width: 50px;
                        min-height: 50px;
                        max-height: 50px;
                        padding-top: 25px;
                    }
                }

                .picture {
                    width: 80%;
                    aspect-ratio: 14/9;
                    margin: 0 auto;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    transition: 0.3s;
                }
            }

            .description {
                text-align: left;
                padding-left: 60px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 30px;

                h3 {
                    font-size: 1.6rem;
                    position: relative;

                    .bar {
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 4px;
                        border-radius: 30px;
                        top: 50%;
                        left: 0;
                        transform: translate(calc(-100% - 15px), -50%);
                    }
                }

                p {
                    color: gray;
                }
            }
        }
    }
}