@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
    font-family: "Poppins2";
    src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Indie";
    src: url('./assets/IndieFlower-Regular.ttf');
}

$whiteDark: rgb(192, 192, 192);
$backgroundDark : rgba(134, 134, 134, 0.2);
$black: black;

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.App {
    font-family: "poppins", "Poppins2";
    min-height: 100vh;
    background: $black;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;

    h2 {
        text-shadow: 0 0 30px;
        font-size: 3rem;

        span {
            font-family: "Indie";
            font-size: 4rem;
            background: linear-gradient(288deg, #ff8000, #f0c 53.2394%, #04f);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }

    .date {
        background: rgba(134, 134, 134, 0.2);
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .technologies {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 20px;

        li {
            @include centerChild;
            gap: 5px;
            background: rgba(134, 134, 134, 0.2);
            color: white;
            padding: 5px 10px;
            border-radius: 30px;
            border: solid 1px white;

            .icon {
                width: 20px;
                font-size: 1.5rem;
            }
        }
    }

    .smooth {
        position: absolute;
        width: 100%;
        height: 5px;
        z-index: -1;
        top: -120px;
    }

    .etoiles {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;

        .etoile {
            position: absolute;
            width: 5px;
            left: 20%;
            aspect-ratio: 1;
            background: white;
            animation: 50s etoile linear infinite;
            transition: 1s;
            border-radius: 50%;

            @keyframes etoile {
                12% {
                    transform: translate(38px, 13px);
                }

                25% {
                    transform: translate(50px, 50px);
                }

                37% {
                    transform: translate(37px, 87px);
                }

                50% {
                    transform: translate(0px, 100px);
                }

                62% {
                    transform: translate(-37px, 87px);
                }

                75% {
                    transform: translate(-50px, 50px);
                }

                88% {
                    transform: translate(-37px, 13px);
                }
            }
        }
    }

    .circle {
        position: absolute;
        width: 100%;
        height: 100px;
        top: 100vh;
        transform: translateY(-100%);

        div {
            position: absolute;
            width: 300%;
            aspect-ratio: 1;
            background: black;
            border-top: solid 5px white;
            box-shadow: 0 0 100px 0 white, 0 0 100px 0 purple, 0 0 300px 100px blue,
                inset 0 0 15px 0 white;
            border-radius: 50%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }

}